body {
    -webkit-text-size-adjust: none
    transition: all 1s;
}
body.aps_offset {
	position:relative;
	margin-top:476px;

}

#aps_notification {
    position: absolute!important;
    z-index: 99999998!important;
    width: 100%
}

#aps_notification label {
    margin-left: 0;
    margin-bottom: 0
}

#aps_notification h3 {
    text-transform: none
}

#aps_notification p,#aps_notification span {
    margin-left: 0;
    text-shadow: none;
    font-family: inherit;
}

#aps_notification p {
    max-width: none;
    font-weight: 400;
    font-size: 16px
}

#aps_notification ul {
    list-style-position: outside
}

#aps_notification li,#aps_notification ul {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px
}

#aps_notification a {
    font-weight: 400;
    text-shadow: none
}

#aps_notification a,#aps_notification a:hover {
    background: transparent
}

#aps_col_content_extended li {
    list-style-type: disc
}

#aps_notification_wrapper {
    background-color: #fff;
    border-bottom: 1px solid #7a7a7a;
    padding: 40px;
    min-width: 240px
}

#aps_notification_wrapper.ccm_minimal {
    padding: 20px
}

#aps_notification_content {
    padding: 0 112px 0 145px;
    position: relative
}

#aps_col_left {
    width: 112px;
    position: absolute;
    top: 0;
    left: 0
}

#aps_notification .ccm_logo {
    display: block;
    width: 110px;
    height: auto
}

#aps_notification .ccm_logo img {
    width: 100%;
    height: auto
}

#aps_notification .ccm_minimal .ccm_p {
    margin: 0
}

#aps_notification a {
    font-family: inherit;
    color: #8e1a7d;
    font-size: 16px;
    line-height: 23px
}

#aps_notification a:hover {
    text-decoration: underline
}

#aps_notification #aps_col_content_footer .ccm_btn_disabled {
    opacity: .2;
    -webkit-transform: none;
    transform: none;
    cursor: default
}

#aps_notification .ccm_btn {
    background-color: #3dc53c;
    border-radius: 4px;
    font-size: 17px;
    line-height: 15px;
    font-weight: 700;
    color: #fff;
    outline: 0;
    border: 0;
    cursor: pointer;
    display: block;
    padding: 18px 0;
    text-align: center;
    margin: 0 10px 0 0;
    font-weight: 400;
    text-decoration: none!important
}

#aps_notification .ccm_btn:active {
    -webkit-transform: scale(1)!important;
    transform: scale(1)!important
}

#aps_notification .ccm_btn:disabled.ccm_btn {
    opacity: .2;
    -webkit-transform: none;
    transform: none;
    cursor: not-allowed
}

#aps_notification .ccm_btn:disabled.ccm_btn:active {
    -webkit-transform: none;
    transform: none
}

.ccm_btn_disabledmessage {
    display: none;
    background: #8e1a7d;
    padding: 16.5px 20px;
    color: #fff;
    border-radius: 3px;
    margin-left: 5px;
    font-family: inherit;
    position: relative;
    font-size: 16px;
    line-height: 18px
}

.ccm_btn_disabledmessage--show {
    display: inline-block
}

.ccm_btn_disabledmessage:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -6px;
    margin: auto 0;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #8e1a7d;
}

#aps_content_minimal .ccm_btn {
    width: 114px;
    margin: 0 0 0 20px;
    padding: 10px 0;
    display: inline-block
}

#aps_col_content_extended {
    display: none;
    margin-top: 20px
}

#aps_col_content_extended h3 {
    font-family: inherit;
    color: #333;
    padding: 0;
    font-size: 22px;
    line-height: 24px;
    text-shadow: 0 1px 2px #fff;
    margin: 0 0 8px;
    font-weight: 400
}

#aps_col_content_extended h3:first-child {
    padding-top: 10px
}

#aps_col_content_extended p {
    font-family: inherit
    font-size: 16px;
    line-height: 23px;
    color: #444;
    margin: 0;
    padding: 5px 0 25px
}

#aps_col_content_extended a:hover {
    text-decoration: underline
}

#aps_col_content_footer {
    margin-top: 20px;
    font-family: inherit;
}

#aps_col_content_footer .ccm_btn {
    width: 133px;
    float: left;
    -webkit-transition: -webkit-transform .1s ease;
    transition: -webkit-transform .1s ease;
    transition: transform .1s ease;
    transition: transform .1s ease,-webkit-transform .1s ease
}

.ccm_btn .ccm_btn-icon {
    fill: #fff;
    margin-right: 5px;
    width: 17px;
    height: 12px
}

#aps_col_content_footer .ccm_btn:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

#aps_col_content_footer .ccm_btn.ccm_btn_grey {
    margin-right: 18px
}

#aps_col_content_cookieitems {
    font-family: inherit;
    font-size: 16px;
    line-height: 23px;
    color: #444
}

#aps_col_content_cookieitems-list {
    padding: 0;
    margin: 0;
    list-style: none
}

#aps_col_content_cookieitems-list li {
    border-top: 1px solid #e6e6e5;
    padding-top: 14.5px;
    padding-bottom: 14.5px
}

#aps_col_content_cookieitems-list li:last-of-type {
    border-bottom: 1px solid #e6e6e5
}

.ccm_col_content_cookieitem-info {
    display: inline-block;
    top: 0;
    position: relative;
    vertical-align: middle;
    width: 75%
}

.ccm_col_content_cookieitem-info p {
    color: #444;
    font-family: inherit;
    text-shadow: none;
    font-weight: 500;
    -webkit-font-smoothing: unset;
    -moz-osx-font-smoothing: unset
}

.ccm_col_content_cookieitem-infolabel {
    font-weight: 700
}

#aps_btn_succeed {
    display: block;
    padding-top: 17px;
    color: #3cc53c
}

.ccm_col_content_cookieitem-radio {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 5px;
    height: 44px;
    vertical-align: middle
}

.ccm_col_content_cookieitem-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    display: none
}

.ccm_col_content_cookieitem-radiowrap label:first-of-type svg {
    margin-top: 14px;
    width: 17px;
    height: 12px
}

.ccm_col_content_cookieitem-radio:first-of-type {
    margin-right: 15px
}

.ccm_col_content_cookieitem-radiocheck {
    position: absolute;
    top: 0;
    left: 0;
    height: 44px;
    width: 44px;
    background-color: #fff;
    border: 2px solid #a0a0a0;
    border-radius: 50%;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.ccm_col_content_cookieitem-radiocheckicon {
    margin-top: 13px;
    width: 14px;
    height: 14px;
    fill: #4f4f4f
}

.ccm_col_content_cookieitem-radio:hover input~.ccm_col_content_cookieitem-radiocheck {
    border: 2px solid #4f4f4f
}

.ccm_col_content_cookieitem-radio input:checked~.ccm_col_content_cookieitem-radiocheck {
    background-color: #8e1a7d;
    border: 2px solid #8e1a7d;
}

.ccm_col_content_cookieitem-radio input:checked~.ccm_col_content_cookieitem-radiocheck .ccm_col_content_cookieitem-radiocheckicon {
    fill: #fff
}

.ccm_col_content_cookieitem-radiocheck:after {
    content: "";
    position: absolute;
    display: none
}

.ccm_col_content_cookieitem-radio input:checked~.ccm_col_content_cookieitem-radiocheck:after {
    display: block
}

.ccm_col_content_cookieitem-radiowrap {
    display: inline-block;
    margin-right: 18px;
    vertical-align: middle
}

.ccm_col_content_cookieitem-radiowrap--selected .ccm_col_content_cookieitem-radiocheck {
    border: 2px solid #ccc
}

.ccm_col_content_cookieitem-radiowrap--selected .ccm_col_content_cookieitem-radiocheckicon {
    fill: #ccc
}

.ccm_col_content_cookieitem-radiowrap--selected .ccm_col_content_cookieitem-radio:hover input~.ccm_col_content_cookieitem-radiocheck .ccm_col_content_cookieitem-radiocheckicon {
    fill: #4f4f4f
}

.ccm_col_content_cookieitem-radiowrap--selected .ccm_col_content_cookieitem-radio:hover input:checked~.ccm_col_content_cookieitem-radiocheck .ccm_col_content_cookieitem-radiocheckicon {
    fill: #fff
}

#aps_col_content_regular {
    margin-bottom: 20px
}

#aps_col_content_regular h3 {
    font-family: inherit;
    color: #333;
    padding: 0;
    font-size: 22px;
    line-height: 24px;
    text-shadow: 0 1px 2px #fff;
    margin: 0 0 8px;
    font-weight: 400
}

#aps_col_content_regular p {
    font-family: inherit;
    font-size: 16px;
    line-height: 23px;
    color: #444;
    margin: 0;
    padding: 5px 0 10px
}

#aps_toggle_extended--close {
    display: none
}

.ccm_col_content_extended--open {
    display: block!important
}

#aps_notification .ccm_clear {
    clear: both
}

#aps_col_content_regular p {
    padding: 0
}

#aps_col_content_extended ul {
   font-family: inherit;
    color: #444;
    padding: 0 0 0 19px;
    margin: 0;
    line-height: 22px;
    font-size: 16px;
    list-style-type: disc;
    -webkit-font-smoothing: unset;
    -moz-osx-font-smoothing: unset
}

.ccm_col_content_cookieitem-info p {
    display: inline
}

#aps_col_content_cookieitems-list {
    margin-top: 10px
}

#aps_col_content_extended h3 {
    margin-top: 30px;
    padding-top: 0
}

#aps_col_content_extended p {
    padding: 5px 0 15px
}

#aps_col_content_extended h3:first-of-type {
    margin-top: 0;
    padding-top: 0
}

@media only screen and (min-width: 768px) and (max-width:979px) {
    #aps_notification_wrapper.ccm_responsive #aps_notification_content {
        padding-right:0
    }

    #aps_notification_wrapper.ccm_responsive #aps_col_right {
        position: relative;
        width: 100%;
        padding: 0;
        margin-top: 25px
    }

    #aps_notification_wrapper.ccm_responsive #aps_col_content_footer .ccm_btn_grey {
        margin-right: 0;
        float: left
    }
}

@media only screen and (max-width: 767px) {
    #aps_notification_wrapper.ccm_responsive {
        padding:20px
    }

    #aps_notification_wrapper.ccm_responsive #aps_notification_content {
        padding-left: 0;
        padding-right: 0
    }

    #aps_notification_wrapper.ccm_responsive #aps_col_left {
        position: relative;
        float: left;
        width: 100px;
        height: auto
    }

    #aps_notification .ccm_logo {
        width: 90px
    }

    #aps_notification_wrapper.ccm_responsive #aps_col_content_footer .ccm_btn_grey {
        margin: 0 0 18px
    }

    #aps_notification_wrapper.ccm_responsive #aps_col_right {
        position: relative;
        width: 100%;
        padding: 0;
        margin-top: 25px
    }
}

@media only screen and (max-width: 650px) {
    #aps_notification_wrapper.ccm_responsive #aps_content_minimal .ccm_btn {
        display:block;
        margin: 16px auto 0
    }

    .ccm_btn_disabledmessage {
        width: 50%;
        text-align: center;
        float: left
    }
}

@media only screen and (max-width: 600px) {
    .ccm_btn_disabledmessage {
        padding:8px 10px;
        font-size: 15px
    }

    .ccm_col_content_cookieitem-info {
        width: 65%
    }

    #aps_col_content_cookieitems {
        font-size: 14px;
        line-height: 20px
    }

    #aps_col_content_regular h3 {
        font-size: 18px;
        line-height: 22px
    }

    #aps_col_content_regular p {
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 0
    }

    #aps_col_content_extended h3 {
        font-size: 18px;
        line-height: 22px
    }

    #aps_col_content_extended p {
        font-size: 14px;
        line-height: 20px
    }

    #aps_col_content_extended a,#aps_col_content_extended ul {
        font-size: 14px
    }

    #aps_btn_succeed {
        padding-top: 6px
    }

    #aps_notification a {
        font-size: 14px
    }
}

@media only screen and (max-width: 375px) {
    .ccm_col_content_cookieitem-info {
        width:55%
    }

    .ccm_btn_disabledmessage {
        width: 40%
    }

    #aps_btn_succeed {
        padding-top: 0
    }
}
